<%- include("partials/header"); -%>

<body class="fac">
  <%- include("partials/navbar"); -%>
  <style>

.fac
    {
        height: 60rem;
        background-image: url("/images/allcust.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
    }
    </style>
<center style="margin-top:5rem;">
  <h2>Welcome to the Customer's Page</h2>
<h4>Here are the details to all the available Customers</h4>
</center>

 <div class="container ">
 <div class="col-lg-12">
 <br><br>
 <h1 class="text-warning text-center" >  </h1>
 <br>
 <table  id="tabledata" class=" table table-striped table-hover table-bordered cs">

 <tr class="bg-dark text-white text-center" >

 <th>Customer name </th>
 <th>Account Number </th>
 <th> Account Type </th>
 <th>Email-id</th>
 <th>Current Balance</th>
 </tr >
 <% allcustomers.forEach(function(customer){%>
<tr class="bg-dark text-white text-center">
  <td><%=customer.name%></td>
  <td><%=customer.accountNo%></td>
  <td><%=customer.accountType%></td>
  <td><%=customer.email%></td>
  <td><%=customer.balance%></td>
</tr>

<%  }) %>
</table>
</div>
</div>
<br>

<div class="text-center pb-2">
               <a href="/transact" class="btn btn-primary">
               <i class="fa fa-check mr-2"></i>Transact Now
               </a>
               </div>
               <br>

               <%- include("partials/footer"); -%>
